<!DOCTYPE>
<html>
    <head>
        <title>DCare</title>
        <link rel="stylesheet" href="./css/walk.css" />
        <link rel="stylesheet" href="./css/heart_beat.css" />
        <script>

        </script>
    </head>
    <body>
        <div id='DCare'>
            <a href="./splash.html"><img src="./image/로고글씨.png" width="200px"></a>
            <div id="content">
                <table id='shiba' >
                    <tr><!-- 첫번째 줄 시작 -->
                        <td><img src="./image/시바모음/시바뀨.png" width="170px"></td>
                        <td id='shiba_speak'>산책!</td>
                    </tr>
                </table>                

                
                <div class="info">
                    <div class="back"><br><br><br><br>
                        <div class="heart"></div></div>
                    <table id='long_text'>
                        <tr><!-- 첫번째 줄 시작 -->
                            <td></td>
                            <td></td>

                        </tr>
                        <tr><!-- 첫번째 줄 시작 -->
                            <td>*** 산책 중 ***
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="btn" id="home_btn" onclick="location.href='walk_end.html';">산책 끝</button>

                </div>
                
            </div>
        </div>
    </body>
</html>