<!DOCTYPE>
<html>
    <head>
        <title>DCare</title>
        <link rel="stylesheet" href="./css/walk.css" />
        <script>

        </script>
    </head>
    <body>
        <div id='DCare'>
            <a href="./splash.html"><img src="./image/로고글씨.png" width="200px"></a>
            <div id="content">
                <table id='shiba' >
                    <tr><!-- 첫번째 줄 시작 -->
                        <td><img src="./image/시바모음/시바멋쟁이.png" width="170px"></td>
                        <td id='shiba_speak'>오늘도</br>보람찼어</td>
                    </tr>
                </table>                

                <div class="info">
                    <img src="./image/두근.png" width="150px">
                    <table id='long_text'>
                        <tr><!-- 첫번째 줄 시작 -->
                            <td>구름이의 산책 중
                                심박수 측정 결과</br></br>

                                00시 00분에 </br>
                                매우 신나했어요
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn" id="home_btn" onclick="location.href='walktime.html';">오늘의 산책시간을 기록해 주세요</button>

                </div>
                
            </div>
        </div>
    </body>
</html>