<!DOCTYPE>
<html>
    <head>
        <title>DCare</title>
        <link rel="stylesheet" href="../static/css/heart_poop_info.css" />
        <script>

        </script>
    </head>
    <body>
        <div id='DCare'>
            <img src="../static/images/로고글씨.png" width="200px">
            <div id="content">
                <table id='shiba' >
                    <tr><!-- 첫번째 줄 시작 -->
                        <td><img src="../static/images/시바모음/시바해피시싯.png" width="170px"></td>
                        <td id='shiba_speak'>간식 좋아!</td>
                    </tr>
                </table>                

                <div class="info">
                    <img src="../static/images/두근.png" width="150px">
                    <table id='long_text'>
                        <tr><!-- 첫번째 줄 시작 -->
                            <td>'구름이'의 현재 심박수 측정 결과 </br>
                                 </br>
                                매우 신난 상태 입니다
                            </td>
                        </tr>
                        <tr><!-- 두번째 줄 시작 -->
                            <td>
                                 ~~
                            </td>
                        </tr>
                        <tr><!-- 세번째 줄 시작 -->
                            <td>
                                 ~~~~
                            </td>
                        </tr>
                        <tr><!-- 네번째 줄 시작 -->
                            <td>  
                            </td>
                        </tr>
                        <tr><!-- 다섯번째 줄 시작 -->
                            <td>
                                뭐라고 적어둘까요
                            </td>                            
                        </tr>
                    </table>
                    <button type="button" class="btn" id="home_btn">메인으로 돌아가기</button>

                </div>
                
            </div>
        </div>
    </body>
</html>