<!DOCTYPE>
<html>
    <head>
        <title>DCare</title>
        <link rel="stylesheet" href="../static/css/walk.css" />
        <script>

        </script>
    </head>
    <body>
        <div id='DCare'>
            <img src="../static/images/로고글씨.png" width="200px">
            <div id="content">
                <table id='shiba' >
                    <tr><!-- 첫번째 줄 시작 -->
                        <td><img src="../static/images/시바모음/시바헤벌레.png" width="170px"></td>
                        <td id='shiba_speak'>산책?</td>
                    </tr>
                </table>                

                <div class="info">
                    <img src="../static/images/두근.png" width="150px">
                    <table id='long_text'>
                        <tr><!-- 첫번째 줄 시작 -->
                            <td>디케어 산책 모드</br></br>
                                산책 중 심박수를 측정하려면</br>
                                디케어 기기를 구름이 에게 부착해 주세요
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn" id="home_btn">산책 시작!</button>

                </div>
                
            </div>
        </div>
    </body>
</html>